NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_RELAYER_URL=http://localhost:8787
NEXT_PUBLIC_CORE_PROGRAM_ID=CF5FkJ9GKoFk3SMkBZuXgGnXwfN6TETs5eAYS7V6gggr
# Demo merchant panel key (matches relayer/.env MERCHANT_API_KEY)
NEXT_PUBLIC_MERCHANT_API_KEY=demo-kadikoy-coffee-lab
